<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static "index.css" %}">
    <script src="/static/index.js"></script>
  </head>
  <body>
    <div class="nav_bar">
      <div class="logo-div">
        <a href="{% url 'infoportal:index' %}"><img src="/static/shrilogo.png" alt="Shri Logo" class="logo"></a>
      </div>

      {% if user.is_authenticated %}
        <p class="option greeting">Hi {{ user.username }}</p>
        <p class="option link"><a href="{% url 'logout' %}">Logout</a></p>
        <p class="option link"><a href="{% url 'infoportal:newpost' %}">New Post</a></p>
      {% else %}
        <p class="option link"><a href="{% url 'login' %}">Login</a></p>
        <p class="option link"><a href="{% url 'signup' %}">Sign Up</a></p>
      {% endif %}
    </div>
    <div style="height: 120px;"></div>
    <!-- This is just a spacer -->

    <div class="filter-container">
      <p class="filter-title">House</p>
      {% for house_name in house_names %}
        <button type="button" name="button" onclick="activateFilter('{{ house_name }}', 'house-button-{{ forloop.counter }}')" class="filter-option" id="house-button-{{ forloop.counter }}">{{ house_name }}</button>
      {% endfor %}

      <p class="filter-title">Society</p>
      {% for society_name in society_names %}
        <button type="button" name="button" onclick="activateFilter('{{ society_name }}', 'society-button-{{ forloop.counter }}')" class="filter-option" id="society-button-{{ forloop.counter }}">{{ society_name }}</button>
      {% endfor %}

      <p class="filter-title">Category</p>
      {% for category_name in category_names %}
        <button type="button" name="button" onclick="activateFilter('{{ category_name }}', 'category-button-{{ forloop.counter }}')" class="filter-option" id="category-button-{{ forloop.counter }}">{{ category_name }}</button>
      {% endfor %}
    </div>

    <div class="post-container">
      {% for post in all_posts %}
        <div class="post {{post.house}} {{post.society}} {{post.category}}">
          <p class="post-title">{{ post.title }}</p>
          <p class="post-text">{{ post.text }}</p>
          <p class="post-date">{{ post.pub_date }}</p>
          <p class="post-categories">Published by {{ post.user.username }} in {{ post.house }}, {{ post.society }}, {{ post.category }}</p>
        </div>
      {% endfor %}
    </div>

  </body>
</html>
